<!DOCTYPE html>
<html>
    <head>
        <title>Employment Contract Agreement - {{organizationName}}</title>
    </head>
    <style>
        p,
        li {
            line-height: 1.5rem;
        }
    </style>
    <body
        style="font-family: Arial, sans-serif; margin: 8px; padding: 0; background-color: #f4f4f4"
    >
        <div style="max-width: 650px; margin-inline: auto">
            <table
                align="center"
                cellpadding="0"
                cellspacing="0"
                style="border-collapse: collapse; background-color: #ffffff; margin-top: 20px"
            >
            <tr>
                <td align="center" style="padding: 40px 0 ; margin-top: 50px;">
                    <img
                        src="https://cdn.clikkle.com/images/hr/logo/2023/Clikkle%20Hr%20logo.png"
                        alt="Company Logo"
                        height="50"
                        style="display: block"
                    />
                </td>
            </tr>
                <tr>
                    <td style="padding: 20px">
                        <h2 style="color: #333333">Employment Contract Agreement - {{organizationName}}</h2>
                        <p>Dear {{name}},</p>
                        <p>
                            I hope this message finds you in good health and high spirits. We are
                            thrilled to have you on board as a valued member of the {{organizationName}} team. As
                            the next step in our onboarding process, we kindly request your
                            agreement to the terms and conditions of your employment by signing the
                            attached contract.
                        </p>

                        <p>
                            This employment contract outlines the terms of your position as
                            {{jobTitle}} at {{organizationName}}, including:
                        </p>

                        <ol>
                            <li>Compensation and Benefits</li>
                            <li>Work Schedule and Location</li>
                            <li>Duties and Responsibilities</li>
                            <li>Confidentiality and Non-Disclosure Agreement</li>
                            <li>Termination Conditions</li>
                            <li>Other Important Provisions</li>
                        </ol>

                        <p>
                            To review and sign the employment contract, please follow these steps:
                        </p>

                        <ol>
                            <li>
                                Please access the contract by visiting the Employee dashboard at
                                <a href="https://hr.clikkle.com" rel="noreferrer" target="_blank"
                                    >Employee Dashboard</a
                                >
                            </li>
                            <li>
                                Review the document carefully to ensure that you understand and
                                agree to its terms.
                            </li>
                            <li>
                                Electronically sign the contract using the provided digital
                                signature field.
                            </li>
                            <li>
                                Once signed, the contract will be automatically submitted to our HR
                                department for further processing.
                            </li>
                        </ol>

                        <p>
                            If you have any questions or concerns about the contract, please do not
                            hesitate to reach out to our HR team at
                            <a href="mailto:{{organizationEmail}}" rel="noreferrer" target="_blank"
                                > {{organizationEmail}} 
                            </a>
                            We are here to assist you and provide clarification on any aspects of
                            the agreement.
                        </p>
                        <p>
                            We are excited to have you as a part of our team and look forward to
                            working together to achieve our shared goals. Your skills and dedication
                            will undoubtedly contribute to our continued success.
                        </p>
                        <p>
                            Thank you for choosing {{organizationName}} as your employer, and we eagerly anticipate
                            this next chapter of your career with us.
                        </p>

                        <p>Best regards,</p>
                        <p>The {{organizationName}} Team</p>
                    </td>
                </tr>
                <tr>
                    <td
                        style="
                            background-color: #333333;
                            color: #ffffff;
                            padding: 10px 0;
                            text-align: center;
                        "
                    >
                        &copy; {{currentYear}} {{organizationName}} |
                        <a
                            href={{organizationWebsite}}
                            style="color: #ffffff; text-decoration: none"
                            rel="noreferrer" target="_blank"
                            >Visit Our Website</a
                        >
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
