<!DOCTYPE html>
<html>
    <head>
        <title>Interview invitation from {{organizationName}}</title>
    </head>
    <body
        style="font-family: Arial, sans-serif; margin: 8px; padding: 0; background-color: #f4f4f4"
    >
        <div style="max-width: 650px; margin-inline: auto">
            <table
                align="center"
                cellpadding="0"
                cellspacing="0"
                style="border-collapse: collapse; background-color: #ffffff; margin-top: 20px"
            >
                <tr>
                    <td align="center" style="padding: 40px 0; margin-top: 50px;">
                        <img
                            src="https://cdn.clikkle.com/images/hr/logo/2023/Clikkle%20Hr%20logo.png"
                            alt="Company Logo"
                            height="50"
                            style="display: block"
                        />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px">
                        <h2 style="color: #333333">
                            Interview invitation from {{organizationName}}
                        </h2>
                        <p>Dear {{name}},</p>

                        <p>
                            We hope this message finds you well. We would like to extend our
                            gratitude for your interest in joining the {{organizationName}} team. We
                            were truly impressed with your application for the position of
                            {{jobTitle}}, and we are excited to invite you to the next stage of our
                            hiring process.
                        </p>
                        <p>
                            Your qualifications and potential align perfectly with our
                            organization's values and goals. Therefore, we would like to invite you
                            to an online interview. This interview will provide an opportunity for
                            us to learn more about you and for you to learn more about {{organizationName}}.
                        </p>

                        <h4>Interview Details:</h4>
                        <p style="margin: 4px">Date: {{interviewDate}}</p>
                        <p style="margin: 4px">Time: {{interviewTime}}</p>
                        <p style="margin: 4px">
                            Platform:   <a href="https://hr.clikkle.com" rel="noreferrer" target="_blank" > {{interviewPlatform}}  </a>(Please ensure you have it installed and
                            set up in advance)
                        </p>

                        <p>To conduct your interview, please follow these steps:</p>
                        <ol>
                            <li style="margin-left:15px">Please access the interview by visiting the Employee dashboard at&nbsp;<a href="https://hr.clikkle.com/"  rel="noreferrer" target="_blank" >Employee Dashboard</a></li>
                            <li style="margin-left:15px">Review the interview questions carefully and take your time to ensure that you answer all the questions correctly.</li>
                            <li style="margin-left:15px">Once completed, your answers will be automatically submitted to our HR department for further processing.</li>
                        </ol>
                        <p>If you have any questions or concerns about the interview, please do not hesitate to reach out to our HR team at&nbsp;
                            <a href="mailto:{{organizationEmail}}" rel="noreferrer" target="_blank">{{organizationEmail}}</a>
                             We are here to assist you and provide clarification on any aspects of the agreement.</p>
                        <span class="im"></span>

                        <p>
                            We look forward to meeting you and getting to know you better during the
                            interview process. We are confident that your potential contributions
                            will be a valuable addition to the {{organizationName}} family.
                        </p>
                        <p>
                            Thank you again for considering {{organizationName}} as your potential
                            employer. If you have any questions or require any further information,
                            please do not hesitate to reach out to us.
                        </p>

                        <p>Best regards,</p>
                        <p>The {{organizationName}} Hiring Team</p>
                    </td>
                </tr>
                <tr>
                    <td
                        style="
                            background-color: #333333;
                            color: #ffffff;
                            padding: 10px 0;
                            text-align: center;
                        "
                    >
                        &copy; {{currentYear}} {{organizationName}} |
                        <a href={{organizationWebsite}} style="color:#ffffff;text-decoration:none" rel="noreferrer" target="_blank" >Visit Our Website</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
