<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to the {{organizationName}}  Team!</title>
    </head>
    <style>
        p {
            line-height: 1.5rem;
        }
    </style>
    <body
        style="font-family: Arial, sans-serif; margin: 8px; padding: 0; background-color: #f4f4f4"
    >
        <div style="max-width: 650px; margin-inline: auto">
            <table
                align="center"
                cellpadding="0"
                cellspacing="0"
                style="border-collapse: collapse; background-color: #ffffff; margin-top: 20px"
            >
            <tr>
                <td align="center" style="padding: 40px 0; margin-top: 50px;">
                    <img
                        src="https://cdn.clikkle.com/images/hr/logo/2023/Clikkle%20Hr%20logo.png"
                        alt="Company Logo"
                        height="50"
                        style="display: block"
                    />
                </td>
            </tr>
                <tr>
                    <td style="padding: 20px">
                        <h2 style="color: #333333">Welcome to the {{organizationName}} Team!</h2>
                        <p>Dear {{name}},</p>
                        <p>
                            We are thrilled to officially welcome you to the {{organizationName}}
                            family as our newest team member! Your journey with us begins now, and
                            we couldn't be more excited to have you on board.
                        </p>
                        <p>
                            Your application for the position of {{jobTitle}} at {{organizationName}}
                            was carefully reviewed, and we were truly impressed with your
                            qualifications and potential. After careful consideration, we are
                            pleased to inform you that you are now an official employee of {{organizationName}}.
                        </p>

                        <p>
                            Please login to your Employee Dashboard:
                            <a href="https://hr.clikkle.com" rel="noreferrer" target="_blank">Employee Dashboard</a>
                        </p>

                        <p>To start your shift, please follow these steps:</p>
                        <ol><li style="margin-left:15px">Log in by visiting the Employee dashboard at&nbsp;<a href="https://hr.clikkle.com/" rel="noreferrer" target="_blank" >Employee Dashboard</a></li>
                            <li style="margin-left:15px">Clock in at the assigned start date and start time</li>
                            <li style="margin-left:15px">Once clocked in, visit chat section and contact your hr admin to begin your orientation and or for further instructions.</li>
                        </ol>
                        
                        <p>If you have any questions or concerns, please do not hesitate to reach out to our HR team at&nbsp;<a href="mailto:contact@clikkle.com" rel="noreferrer" target="_blank" >contact@clikkle.com&nbsp;</a>We are here to assist you and provide clarification on any aspects of the agreement.</p><span class="im"></span>
   
                        <p>
                            As a member of the {{organizationName}} team, you will play an integral
                            role in our mission and contribute to our continued success. Your
                            dedication and skills will undoubtedly make a significant impact on our
                            organization.
                        </p>
                        <p>
                            We want to express our gratitude for choosing {{organizationName}} as
                            your employer. We believe that you will find our organization to be a
                            dynamic and fulfilling place to work, where your skills and talents will
                            be valued and appreciated.
                        </p>
                        <p>
                            If you have any questions or need further information as you prepare to
                            join us, please feel free to reach out to us at
                            <a href="mailto:{{organizationEmail}}" rel="noreferrer" target="_blank">{{organizationEmail}}</a>. We are
                            here to assist you every step of the way.
                        </p>

                        <p>Best regards,</p>
                        <p>The {{organizationName}} Team</p>
                    </td>
                </tr>
                <tr>
                    <td
                        style="
                            background-color: #333333;
                            color: #ffffff;
                            padding: 10px 0;
                            text-align: center;
                        "
                    >
                        &copy; {{currentYear}} {{organizationName}} |
                        <a
                            href={{organizationWebsite}}
                            style="color: #ffffff; text-decoration: none"
                            rel="noreferrer" target="_blank"
                            >Visit Our Website</a
                        >
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
