<!DOCTYPE html>
<html>

<head>
    <title>Termination of Employment with {{organizationName}}</title>
</head>

<body style="font-family: Arial, sans-serif; margin: 8px; padding: 0; background-color: #f4f4f4">
    <div style="max-width: 650px; margin-inline: auto">
        <table align="center" cellpadding="0" cellspacing="0"
            style="border-collapse: collapse; background-color: #ffffff; margin-top: 20px">
            <tbody>
                <tr>
                    <td align="center" style="padding: 40px 0; margin-top: 50px;">
                        <img
                            src="https://cdn.clikkle.com/images/hr/logo/2023/Clikkle%20Hr%20logo.png"
                            alt="Company Logo"
                            height="50"
                            style="display: block"
                        />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px">
                        <h2 style="color: #333333">
                            Termination of Employment with {{organizationName}}
                        </h2>
                        <p>Dear {{name}},</p>
                        <p>
                            It is with regret that we inform you of the termination of your
                            employment with {{organizationName}}. Your journey with us, which started
                            on {{joiningDate}}, has come to an end.
                        </p>
                        <p>{{reason}}</p>
                        <p>
                            After a careful review of your performance, it has become clear that
                            your qualifications and potential did not align with our organization's
                            expectations for the position of {{jobTitle}} at {{organizationName}}.
                        </p>

                        <p>
                            Effective immediately, your employment with {{organizationName}} is
                            terminated, and you will no longer have access to the Employee
                            Dashboard.
                        </p>
                        <p>
                            We want to express our appreciation for the time and effort you
                            dedicated to {{organizationName}} during your tenure here. We genuinely
                            wish you the best in your future endeavors.
                        </p>
                        <p>
                            If you have any questions or need further information regarding the
                            termination process or any outstanding matters, please feel free to
                            reach out to us at
                            <a href="mailto:{{organizationEmail}}" rel="noreferrer" target="_blank">{{organizationEmail}}</a>.
                        </p>

                        <p>Best regards,</p>
                        <p>The {{organizationName}} Team</p>
                    </td>
                </tr>
                <tr>
                    <td style="
                            background-color: #333333;
                            color: #ffffff;
                            padding: 10px 0;
                            text-align: center;
                        ">
                        &copy; {{currentYear}} {{organizationName}} |
                        <a
                            href={{organizationWebsite}}
                            style="color: #ffffff; text-decoration: none"
                            rel="noreferrer" target="_blank"
                            >Visit Our Website</a
                        >
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>